.container{
  max-width: 1150px;
  margin: auto;
}
.mainHeader{
  text-align: center;
}
.itemsWraper{
  display: flex;
  align-items:flex-end;
  vertical-align: baseline;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.itemWraper{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(246, 241, 235);
}
